@(id: String, user: Form[EditUserData])(implicit messages: Messages, context: ContextWithUsers)

@import helper._

@main("Welcome to our awesome user app") {
    @form(routes.Application.saveUser(id)) {
        @inputText(user("fullname"))
        @inputText(user("email"))
        @checkbox(user("isAdmin"))

        <div class="buttons">
            <input type="submit" value="Edit User" />
        </div>
    }

    @for(user <- context.users) {
        <div class="user">
            <span class="fullname">@user.fullname</span>

                    <span class="options">
                        <a href='@routes.Application.editUser(user.id)'>edit</a>
                        @form(routes.Application.deleteUser(user.id)) {
                            <input type="submit" value="delete" />
                        }
                    </span>
        </div>
    }
}
