@(user: Form[CreateUserData], users: Seq[User])(implicit messages: Messages)

@import helper._

@main("Welcome to our awesome user app") {

    @form(routes.Application.addUser()) {
        @inputText(user("fullname"))
        @inputText(user("email"))
        @inputPassword(user("password"))
        @checkbox(user("isAdmin"))

        <div class="buttons">
            <input type="submit" value="Add User" />
        </div>
    }


    @for(user <- users) {
        <div class="user">
            <span class="fullname">@user.fullname</span>

            <span class="options">
                <a href='@routes.Application.editUser(user.id)'>edit</a>
                @form(routes.Application.deleteUser(user.id)) {
                    <input type="submit" value="delete" />
                }
            </span>
        </div>
    }
}
